
/* Background Image */
body {
    background-image: linear-gradient(rgba(219, 209, 209, 0.333),rgba(221, 214, 214, 0)),url(../images/amritansh-dubey-unsplash-BG.jpg);
    background-size: cover;
    background-position: center;
}

/* Transparent text boxes */
article, header{
    background-color: rgba(216, 220, 223, 0.632);
    margin: 2% 2%;
    padding: 2% 2%;

}
/* paragraph formatting  */
p{
    padding: 1% 3%;
    font-size: 18px;
}
/* sets flex for header elements so they're aligned */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 35px;
}

/* formatting navigation bar to be horizontal */
nav ul{
    display: flex;
    list-style-type: none;
    font-size: 22px;
}

/* removes normal anchor formatting */
.nav-bar li a{
    padding: 14px 16px;
    text-decoration:none;
    color: black;
} 
/* Adds an underline to navbar options when hovering */
.nav-bar li a:hover{
    text-decoration:underline;
} 
/* Aligns h2 text, adds padding and sets font size */
h2{
    text-align: center;
    padding: 8px 16px;
    font-size: 25px;
}
/* Setting margins and making it so content doesn't go outside of container */
#about{
margin-top: 4%;
contain: content;
}
/* About me image formatting to keep it on the left and so it resizes with the page */
#about img{
    float: left;
    padding: 1% 2%;
    width: 20%;
    height: 25%;
}
/* Setting flex to wrap around when page is being resized */
#projects, #contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    contain: content;
    padding: 2% 1%;
}
/* Image sizing */
#projects img{
    width: 75%;
    height: 75%;
}
/* On hover image changes to be blurry */
#projects a:hover{
cursor: pointer;
opacity: 0.75;
filter:blur(1px);
}
/* Image formatting so first project picture is always larger than the rest */
#first-project img{
    width: 90%;
    height: 90%;
}
/* Project languages size change */
span{
    font-size: 65%;
}
/* Creates a floating Project title box over the projects image */
#projects li p{
    background-color: rgba(155, 197, 197, 0.962);
    position: relative;
    width: 22%;
    bottom: 20%;
    left: 5%;
}
/* Sets footer formatting to be darker than the rest of the webpage*/
footer{
    text-align: center;
    color: black;
    background-color: rgba(216, 220, 223, 0.149);
    margin: 2%;

}
/* Sets footer hyperlinks to black text */
footer a{
    color: black;
}
/* Media query to adjust for smaller screens */
@media screen and (max-width: 730px) {
    header{ flex-direction: column;
        align-items: center;
        align-content: center;}
    nav ul{
        flex-direction: column;
    }
    h1 { text-align: center;}
    .nav-bar li{float: none;
        padding: 14px 16px;}
    #first-project img{
        width: 90%;
        height: 90%;}
    #contact{
        flex-direction: column;
        align-items: center;
    }
}

